body{
    background-color: #CBE4DE;
    height: 100vh;
}
main{
    width: 1100px;
    margin: auto;
    display: flex;
    gap: 25px;
}
header h1{
    text-align: center;
}
.pergunta{
    width: 500px;
    height: 300px;
    border: 2px solid #2E4F4F;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bloco-resposta{
    width: 500px;
    height: 300px;
    border: 2px solid #2E4F4F;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    font-size: 20px;
    font-weight: 500;
}
.bloco-resposta h1{
    margin-bottom: 30px;
}
label{
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    height: 35px;
    width: 400px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}
.btn{
    background-color: #0E8388;
    border: none;
    border-radius: 5px;
    width: 420px;
    height: 55px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}